/* .App {
  text-align: center;
} */

.inp {
  width: 500px;
  height: 25px;
}

.form-style {
  /* margin-bottom: 50px; */
  text-align: left;
}

.navstyle {
  text-decoration: none;
  color: white;
  font-size: medium;
  padding: 5px 15px;
}

.navstyle:hover {
  background-color: rgba(245, 222, 179, 0.253);
  color: white;
  border-radius: 8px;
}

.header {
  background-color: black;
  padding: 20px 20px;

  color: azure;
  position: fixed;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.single {
  background-color: lightcyan;
  padding: 10px;
  box-shadow: gray 10px 10px 5px;
  border-radius: 10px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  background-color: darkslateblue;
  padding-top: 80px;
}

.banner img {
  width: 100%;
}

.banner-text {
  padding: 50px;
  color: whitesmoke;
}
