.App {
  /* text-align: center; */

  background-color: rgba(169, 188, 206, 0.342);
}

body {
}

.inp {
  width: 500px;
  height: 25px;
}

.form-style {
  /* margin-bottom: 50px; */
  text-align: left;
}

.navstyle {
  text-decoration: none;
  color: white;
  font-size: medium;
  padding: 5px 15px;
}

.navstyle:hover {
  background-color: rgba(245, 222, 179, 0.253);
  color: white;
  border-radius: 8px;
}

.header {
  background-color: black;
  padding: 20px 20px;

  color: azure;
  position: fixed;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.single {
  background-color: lightcyan;
  padding: 10px;
  box-shadow: rgba(128, 128, 128, 0.452) 10px 10px 5px;
  border-radius: 10px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
  background-color: lightseagreen;
  padding-top: 80px;
  padding: 0 100px;
}

.banner img {
  width: 100%;
}

.banner-text {
  padding: 50px;
  color: whitesmoke;
}

.cont {
  margin: 10px 30px;
  padding: 20px;

  border-radius: 5px;
  background-color: white;
}

.clr {
  color: grey;
  font-weight: 900;
}

.form-style {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
}

.form-style input {
  margin-bottom: 20px;
}

.top-space {
  padding-top: 100px;
}

table td {
  height: 50px;
  padding: 10px;
}

table th {
  background-color: lightsalmon;
  padding: 10px;
}

table tr:nth-child(2n-1) {
  background-color: rgba(171, 173, 131, 0.52);
}
table tr:nth-child(2n) {
  background-color: lightcyan;
}

.t-order {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
}

@media (max-width: 500px) {
  .banner {
    grid-template-columns: 1fr;
    /* margin-bottom: 20px;
    
    padding-top: 80px; */
    padding: 0;
  }
  .cont {
    margin: 10px 0px;
    padding: 0px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .top-space {
    padding-top: 150px;
  }

  .t-order {
    width: 100%;
    padding: 0;
  }
}
